    <!-- Counter Area Start-->
    <section class="counter-section section-padding">
      <div class="container">
        <div class="row">
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter">
              <div class="icon"><i class="lni-layers"></i></div>
              <div class="counterUp">1</div>
              <p>Счетчик</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter">
              <div class="icon"><i class="lni-map"></i></div>
              <div class="counterUp">2</div>
              <p>Счетчик</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Counter Area End-->
