        <!-- Featured Section Start -->
    <section class="featured section-padding">
      <div class="container text-center wow  wow fadeInUp">
        <h1 class="section-title">You Using Free Lite Version :(</h1>
<h5>Purchase Full Version to Get All Pages, Features, Docs and Support!</h5>
          <div><a href="https://rebrand.ly/classially-ud" target="_blank" rel="nofollow" class="btn btn-common btn-lg"><span class="lni-pointer-right"></span> Purchase Now!</a></div>
      </div>
    </section>
    <!-- Featured Section End -->
