{% load static %}
    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">О нас</h3>
                <div class="textwidget">
                  <p>Компания создана</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Полезные ссылки</h3>
                <ul class="menu">
                  <li><a href="#">Почему покупают у нас</a></li>
                  <li><a href="#">Доставка</a></li>
                  <li><a href="#">Отзывы покупателей</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Служба поддержки</h3>
                <ul class="menu">
                  <li><a href="#">Чат</a></li>
                  <li><a href="#">Оставить заявку</a></li>
                  <li><a href="#">Как все устроено</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Контакты</h3>
                <ul class="contact-footer">
                  <li>
                    <strong>Адрес :</strong><span>г. Уфа, ...</span>
                  </li>
                  <li>
                    <strong>Тел.:</strong><span>+71234567890</span>
                  </li>
                  <li>
                    <strong>E-mail :</strong><span><a href="#">info@example.com</a></span>
                  </li>
                </ul>
                <ul class="footer-social">
                  <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                  <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                  <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                  <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer area End -->
      <!-- Copyright Start  -->
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="site-info">
                <p>Все права защищены &copy; 2018 - Дизайн студии <a href="#" rel="nofollow">WebArt</a></p>
              </div>
{#              <div class="float-right">#}
{#                <ul class="bottom-card">#}
{#                  <li>#}
{#                      <a href="#"><img src="assets/img/footer/card1.jpg" alt="card"></a>#}
{#                  </li>#}
{#                  <li>#}
{#                      <a href="#"><img src="assets/img/footer/card2.jpg" alt="card"></a>#}
{#                  </li>#}
{#                  <li>#}
{#                      <a href="#"><img src="assets/img/footer/card3.jpg" alt="card"></a>#}
{#                  </li>#}
{#                  <li>#}
{#                      <a href="#"><img src="assets/img/footer/card4.jpg" alt="card"></a>#}
{#                  </li>#}
{#                </ul>#}
{#              </div>#}
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright End -->

    </footer>
    <!-- Footer Section End -->