{% load static %}
    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
        {% include 'navbar.html' %}
        <!-- Hero Area Start -->
        <div id="hero-area">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12 text-center">
                        <div class="contents">
                            <h1 class="head-title">Интернет-магазин компании <span class="year">АгроДеталь</span></h1>
                            <p>Здесь можно узнать о всех новинках на рынке запчастей для тракторов<br>а также заказать и купить все необходимое</p>
                            <div class="search-bar">
                                <fieldset>
                                    <form class="search-form">
                                        <div class="form-group tg-inputwithicon">
                                            <i class="lni-tag"></i>
                                            <label>
                                                <input type="text" name="customword" class="form-control" placeholder="Что нужно найти?">
                                            </label>
                                        </div>
                                        <div class="form-group tg-inputwithicon">
                                            <i class="lni-layers"></i>
                                            <div class="tg-select">
                                                <label>
                                                    <select>
                                                        <option value="none">Выберите категорию</option>
                            {#                            <option value="none">Mobiles</option>#}
                            {#                            <option value="none">Electronics</option>#}
                            {#                            <option value="none">Training</option>#}
                            {#                            <option value="none">Real Estate</option>#}
                            {#                            <option value="none">Services</option>#}
                            {#                            <option value="none">Training</option>#}
                            {#                            <option value="none">Vehicles</option>#}
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                        <button class="btn btn-common" type="button">
                                            <i class="lni-search"></i>
                                        </button>
                                    </form>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->
